body {
  padding: 0;
  margin: 0;
  width: 100%;
}

table {
  width: max-content;
  border-collapse: collapse;
}

table td {
  width: 150px;
  height: 150px;
  padding: 0;
  margin: 0;
}

td.free:hover {
  box-shadow: inset 0px 0px 3px 3px black !important;
}

td.chest:hover,
td.secret:hover {
  cursor: url("./assets/explore.cur"), auto;
}

* {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  overflow: hidden;
  scroll-behavior: smooth;
  font-family: "Righteous", cursive;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  cursor: url("./assets/main.cur"), auto;
}

html {
  scroll-behavior: smooth;
}

.player {
  transition: all 0.3s ease-in-out;
  display: block;
  position: absolute;
}
